<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About this page</h2>
                <hr class="light">
                <p class="text-faded">I am a Master's student of Economics and currently working on education inequality. My study mainly focuses on the economics of education with extensive training in programming and innovative analysis methods. Many recent studies in human capital accumulation have focused on identifying how human capital develops from childhood through adolescence and into early adulthood to reduce inequalities by better understanding the mechanism driving gaps. I am focusing on two critical questions for my study: how public investments in human capital should be distributed among children from disadvantaged backgrounds to reduce inequality and how it is a late remedy for addressing early disadvantage</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
