<section class="bg-primary" id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Welcome to Anh-Thu Duong's page</h2>
                <hr class="light">
                <p class="text-faded">Development as Freedom is an e-chapter on Economics x Data Science created by me, inspired by the book Development as Freedom of Sir Amartya Sen. In this chapter, DAF steps out of its theoretical framework's shadow to embark on an adventure that takes place in the multiverse of "Data".</p>
                <a href="#" class="btn btn-default btn-xl">More Info!</a>
            </div>
        </div>
    </div>
    <!-- <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What makes this page tick?</h2>
                <hr class="primary">
            </div>
        </div>
    </div> -->
    <!-- <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-3x fa-lightbulb-o  wow bounceIn text-white" data-wow-delay=".1s"></i>
                    <h3>The Originator</h3>
                    <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-3x fa-magic wow bounceIn text-white" data-wow-delay=".1s"></i>
                    <h3>Ready to Ship</h3>
                    <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-3x fa-cubes wow bounceIn text-white" data-wow-delay=".1s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">We update dependencies to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-3x fa-bug wow bounceIn text-white" data-wow-delay=".1s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div>
        </div>
    </div> -->
</section>
