<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What makes me tick?</h2>
                <hr class="light">
                <p class="text-faded">I am a Master's student of Economics and currently working on education inequality. My study mainly focuses on the economics of education with extensive training in programming and innovative analysis methods. Many recent studies in human capital accumulation have focused on identifying how human capital develops from childhood through adolescence and into early adulthood to reduce inequalities by better understanding the mechanism driving gaps. I am focusing on two critical questions for my study: how public investments in human capital should be distributed among children from disadvantaged backgrounds to reduce inequality and how it is a late remedy for addressing early disadvantage</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-pegasus  wow bounceIn text-primary" data-wow-delay=".0s"></i>
                    <h3>Sagittarius -The Originator</h3>
                    <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-book-open wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Ready to Ship</h3>
                    <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-battle-net wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">We update dependencies to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-asymmetrik wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div>
        </div>
    </div>
</section>
