<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Thank you for visiting</h2>
                <p>Don't hesitate to let me know how I'm doing!</p>
                <hr class="primary">
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/duongthuvn">
                <i class="fa fa-twitter fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Twitter</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:duongthuvn@protonmail.com">
            <i class="fa fa-envelope-o fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Email</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/non-ceterisparibus?tab=repositories">
            <i class="fa fa-github fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Github</p>
            </a>
        </div>

    </div>
</section>
