<header>
    <div class="header-content">
        <div class="header-content-inner align-text-bottom">
            <h1></h1>
            <p class="text-faded">Development as Freedom is an e-chapter on Economics X Data Science create by Anh Thu Duong, inspired by the book Development as Freedom of Sir Amartya Sen. In this chapter, DAF steps out of its theoretical's shadow to embark on an adventure that takes place in the multiverse of "Data Science".  </p>
            <hr>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">More info!</a>
        </div>
    </div>
</header>
