<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1></h1>
            <!-- <h2 class="section-heading">Welcome to Anh-Thu Duong's page</h2> -->
                <hr>
                <p class="text-dark">
                    Development as Freedom is an e-chapter on Economics x Data Science, inspired by the book of the same name of Sir Amartya Sen.
                    I believe that Economics x Data science is a thought-provoking study field in which people use mathematics and statistics as the primary language to model, observe and solve problems in society.
                    Moreover, development should be the freedom that removes constraints on each individual, allowing them to pursue their interest. In the next chapter of my life, I step out of the theoretical framework's shadow to embark on an adventure that takes place in the Dataverse.
                    </p>
                <a href="about.html" class="btn btn-default btn-xl">About me!</a>
        </div>
    </div>
</header>
