<section class="bg-primary" id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Welcome to Anh-Thu Duong's page</h2>
                <hr class="light">
                <p class="text-faded">Development as Freedom is an e-chapter on Economics x Data Science, inspired by the book Development as Freedom of Sir Amartya Sen. In this chapter, DAF steps out of its theoretical framework's shadow to embark on an adventure that takes place in the multiverse of "Data".</p>
                <a href="about.html" class="btn btn-default btn-xl">More Info!</a>
            </div>
        </div>
    </div>
</section>
