<section class="bg-header" id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Welcome to Anh-Thu Duong's page</h2>
                <hr class="light">
                <p class="text-faded">
                    Development as Freedom is an e-chapter on Economics x Data Science, inspired by the book of the same name of Sir Amartya Sen.
                    In this chapter, I step out of theoretical framework's shadow to embark on an adventure that takes place in the Dataverse.</p>
                <a href="about.html" class="btn btn-default btn-xl">About me!</a>
            </div>
        </div>
    </div>
</section>
