<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="project1.html" class="portfolio-box">
                    <img src="img/portfolio/p1.jpg" class="img-responsive" alt="" height="350" width="650">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                EDUCATION DATA ANALYSIS
                            </div>
                            <div class="project-name" style="font-size: small;">
                                The learning gaps between children from more and less advantaged backgrounds
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="project2.html" class="portfolio-box">
                    <img src="img/portfolio/p2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                VIETNAM DEVELOPMENT MAP
                            </div>
                            <div class="project-name" style="font-size: small;">
                                Visualize geographical and economic data of Vietnam with interactive map
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="project3.html" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                SCIENTIFIC COMPUTING
                            </div>
                            <div class="project-name" style="font-size: small;">
                                Coming Soon
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                BAYESIAN STATISTICS
                            </div>
                            <div class="project-name" style="font-size: small;">
                                Coming Soon
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/comingsoon.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                CAUSAL INFERENCE
                            </div>
                            <div class="project-name" style="font-size: small;">
                                Coming Soon
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/comingsoon.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                DATA PIPELINE
                            </div>
                            <div class="project-name" style="font-size: small;">
                                Coming Soon
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<aside class="bg-primary">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Want to find out more!</h2>
            <a href="portfolios.html" class="btn btn-default btn-xl wow tada">Here</a>
        </div>
    </div>
</aside>


